.detail-title {
    font-size: 20px;
    text-align: left;
    margin: 30px 0;
}

.detail-section {
    margin-left: 5px;
}

.info-section {
    text-align: left;
    margin-bottom: 5px;
}

.product-image {
    object-fit: cover;
}

.seller-image {
    border-radius: 50px;
    display: inline;
}

.seller-info {
    display: inline-block;
    text-align: left;
    width: 72%;
    position: absolute;
    margin: 10px 0 0 10px;
    font-size: 12px;
}

.star-icon {
    text-align: right !important;
    margin-top: 16px;
}

.product-detail-section {
    text-align: left;
}

.product-price-section {
    margin-top: 5px;
}

.product-info {
    display: inline;
    margin-right: 5px;
}
